<div class="updates-page">
    <div>
        <h3 class="fw-bold page-title">Updates</h3>
        <p class="page-description">Updates page</p>
    </div>
    <div class="mt-3 mb-4">
        <div class="row gx-2">
            <div class="col-lg-3 col-md-5 col-sm-12 mt-2">
                <input type="hidden" id="this_page_url" value="{{ page['url'] }}">
                <select class="form-control form-select" id="sel_status" value="{{ type.key }}">  
                    {% if types %}
                        {% for typeItem in types %}
                            <option value="{{ typeItem.key }}" data-href="{{ page['url'] }}{% if typeItem.key != 'all' %}{{ '/' ~ typeItem.key }}{% endif %}" {% if typeItem.key == type.key %} selected {% endif %}>{{ typeItem.label }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-12 mt-2">
                <!-- <form action="{{ page['url'] }}" method="get" id="history-search"> -->
                <form action="/updates" method="get" id="history-search">
                    <div class="input-group-custom">
                        <input type="text" name="search" id="searchService" class="form-control" value="{{ search }}" placeholder="Search Service ID / Service Name" >
                        <span class="input-group-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card services-table-card mt-3">
        <table class="table mt-3 {% if site['rtl'] %} rtl-table {% endif %}" style="margin-bottom: 11px;">
            <thead>
                <tr>
                    <th class="color-gray-400">{{ lang('updates.service') }}</th>
                    <th class="color-gray-400">{{ lang('updates.date') }}</th>
                    <th class="color-gray-400">{{ lang('updates.update') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for update in updatesList %}
                <tr>
                    <td class="service-name">{{ update['service_id'] }} - {{ update['service'] }}</td>
                    <td>{{ update['date'] }}</td>
                    <td>
                        {% if 'New service' in update['update'] %}
                            {% set updateclass = 'updates-service-new' %}
                        {% endif %}
                        
                        {% if 'enabled' in update['update'] %}
                            {% set updateclass = 'updates-service-enabled' %}
                        {% endif %}
                        
                        {% if 'disabled' in update['update'] %}
                            {% set updateclass = 'updates-service-disabled' %}
                        {% endif %}
                        
                        {% if 'Rate increased' in update['update'] %}
                            {% set updateclass = 'updates-service-increased' %}
                        {% endif %}
                        
                        {% if 'Rate decreased' in update['update'] %}
                            {% set updateclass = 'updates-service-decreased' %}
                        {% endif %}
                        <span class="{{ updateclass }}">{{ update['update']}}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mx-4">
            {% if pagination['count'] > 100 %}
            {% if search %}
                {% set params = {} %}
                {% set params = params | merge(['search=' ~ search]) %}
                {% set params = '?' ~ params|join('&') %}
            {% endif %}
            <ul class="pagination {% if site['rtl'] %} rtl-pagination {% endif %}">
                {% if pagination['current'] != 1 %}
                <li>
                    <a href="{{ page['url'] }}{{ type.key != 'all' ? '/' ~ type.key : '' }}{{ pagination['prev'] > 1 ? '/' ~ pagination['prev'] : '' }}{{ params }}" aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
                {% endif %}
        
                {% set r, l = 1, 1 %}
        
                {% if pagination['current'] == 1 %}
                {% set r = 1 %}
                {% endif %}
        
                {% if pagination['current'] == 2 %}
                {% set r = 1 %}
                {% endif %}
        
                {% if pagination['current'] >= pagination['pages'] %}
                {% set l = 1 %}
                {% endif %}
        
                {% for i in 1..ceil(pagination['pages']) %}
                {% if i >= (pagination['current']-l) and i <= (pagination['current']+r) %}
                    <li{% if i == pagination['current'] %} class="active"{% endif %}>
                        <a href="{{ page['url'] }}{{ type.key != 'all' ? '/' ~ type.key : '' }}{{ i > 1 ? '/' ~ i : '' }}{{ params }}">{{ i }}</a>
                    </li>
                {% endif %}
                {% endfor %}
        
                {% if pagination['current'] < pagination['pages'] %}
                <li>
                    <a href="{{ page['url'] }}{{ type.key != 'all' ? '/' ~ type.key : '' }}/{{ pagination['next'] }}{{ params }}" aria-label="Next">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>